body {
    text-align: center;
    background-color: rgb(0, 0, 0);
    overflow-x: hidden;
}

:visited {
    color: rgb(87, 62, 231);
    font-weight: bolder;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

:link {
    color: rgb(98, 110, 187);
    font-weight: bolder;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

a.icon {
    text-decoration: none;
    margin: 4px;
    color: skyblue;
}

icon-bin {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 8px;
}

video {
    padding-top: 8px;
}

backplate {
    background-image: url(ocean.jpg);
    filter: blur(4px) brightness(0.8);
    position: fixed;
    width: 105%;
    height: 105%;
    left: -16px;
    top: -16px;
    background-repeat: no-repeat;
    background-size: 100%;
}

main {
    text-shadow: 4px 3px 7px rgb(51, 35, 13);
    position: absolute;
    width: 98%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

inner {
    color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
}

inner>inner-top {
    background-color: rgba(26, 23, 23, 0.24);
    backdrop-filter: blur(8px) brightness(0.5);
    font-size: 25px;
    padding: 8px;
    display: block;
    width: fit-content;
    margin: auto;
    margin-bottom: 16px;
    margin-top: 16px;
}

inner>inner-top>h1 {
    margin: 2px;
    font-weight: bolder;
    font-family: Roboto;
}

text-group {
    background-color: rgba(26, 23, 23, 0.24);
    backdrop-filter: blur(8px) brightness(0.5);
    font-size: 20px;
    margin: 8px;
    padding: 2px;
    display: block;
}

text-group>label {
    font-family: monospace;
    font-weight: bolder;
    font-size: 45px;
    text-decoration: #e76f51 solid underline;
    border-radius: 4px;
    padding: 8px;
}

video-group {
    display: block;
    background-color: rgba(15, 10, 10, 0.24);
    backdrop-filter: blur(8px) brightness(0.5);
    width: 45%;
    height: fit-content;
    padding: 16px;
}

video-group>label {
    font-family: monospace;
    font-weight: bolder;
    font-size: 45px;
    /* text-decoration: #f4a261 solid underline; */
    border-radius: 4px;
    padding: 8px;
}

video-group>p {
    font-size: smaller;
}

container {
    display: block;
    backdrop-filter: brightness(1.4);
    border-radius: 4px;
    margin: 20px;
    padding: 3px;
}

container>h2 {
    font-family: Roboto;
    font-weight: 900;
    font-size: 30px;
    margin: 5px;
}

container>p {
    font-size: large;
    font-weight: 400;
    color: whitesmoke;
    padding: 4px;
}

double-group {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
}

video {
    border: 2px #2a9d8f solid;
}

screenshot {
    pointer-events: all;
    cursor: pointer;
    width: fit-content;
    height: fit-content;
}

.screenshot {
    border: 2px #2a9d8f solid;
    pointer-events: all;
    cursor: pointer;
}

.screenshot:hover {
    scale: 1.2;
}

.footer {
    color: cornsilk;
    font-family: Arial, Helvetica, sans-serif;
    padding: 14px;
}